// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$base-offset-size: 10px;
$base-font-size: 16px;

$white-color: #ffffff;
$base-bg-color: rgba(230, 226, 208, 1);
$base-line-color: rgba(230, 226, 208, 1);
$base-font-color: #222;
$icon-color: rgba(0, 0, 0, .6);
$border-color: rgba(0, 0, 0, .4);
$red-color: #FF2400;
$green-color: #23CE03;

$header-height: 200px;

$line-font-size: 16px;
$line-small-font-size: 14px;
$line-font-weight: 600;
$line-letter-spacing: 1px;

$icon-font-size: 16px;
$icon-small-font-size: 14px;

$player-title-font-size: 18px;
$player-title-small-font-size: 16px;
$player-title-font-weight: 600;
$player-title-letter-spacing: 2px;

$stat-font-size: 14px;
$stat-small-font-size: 12px;
$stat-icon-font-size: 14px;
$stat-small-icon-font-size: 14px;

$button-font-size: 13px;
$button-small-font-size: 12px;
$button-border-radius: 4px;

$player-img-border-radius: 6px;
$pharm-card-border-radius: 6px;
