.player-stats {
  display: flex;
  flex-direction: row;
  &__img {
    height: 100%;
    width: auto;
    max-height: 150px;
    margin-right: 20px;
  }
  &__tabs {
    .nav-item {
      .nav-link {
        padding: 0.25rem .5rem;
        font-size: 12px;
      }
    }
  }
}

.stat-line {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  .stat-line__name {

  }
  .stat-line__value {
    font-weight: 600;
  }
}